<%# <p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1 class="display-4">
    <%= @friend.first_name %>   <%= @friend.last_name %></h1>
  <p class="lead"><strong>Email:</strong>
    <%= @friend.email %></p>
  <hr class="my-4">
  <p> <strong>Phone:</strong>
    <%= @friend.phone %></p>
  <p>
    <strong>Twitter:</strong>
    <%= @friend.twitter %>
  </p>
  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-info text-white" %> |
  <%= link_to 'Back', friends_path, class:"btn btn-warning text-white" %>
</div>
